h1 
h1 Welcome to OnlineCheckIn!
h4 What we want to fix?
p Currently large-scale community meetings in Taiwan are mostly fixed-point. However, finding a suitable venue for a three-hour meeting with hundreds of people is inconvenient, time-consuming, and expensive. To address this issue, we propose an online voting platform that enables neighborhood communities to hold their meetings online.
h4 Online Check-in:
p The online check-in feature will allow members to sign in and participate in meetings remotely, improving efficiency and accessibility. It will also provide the necessary information for the meeting, such as the square footage stated in the property deed, which is crucial since, according to the law, more than two-thirds of the distinguished owners must attend the meeting to make it legal.
img src="devotelogo2.png" width="248" height="100" style="margin-left: 5%; margin-top: 5px; "/
- unless current_account.logged_in?
  p 
    a href='/auth/login' login to start!
